*.iml
.gradle
.kotlin
/local.properties
local.properties
.env
*.env
secrets.properties
app/secrets.properties
debug.keystore
*.jks
*.keystore
*.apk
*.aab
gradle-9.3.1/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

